<!doctype html>
<html class="no-js" lang="en">
	<head>
		{% load staticfiles %}

		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" href='{% static "css/foundation.css" %}' />
	    <link rel="stylesheet" type="text/css" href='{% static "css/extra.css" %}'>
	    <script src='{% static "js/vendor/modernizr.js" %}'></script>
	    
	    {% block titulo %}
	    	<title>LEDS | Inicio</title>
    	{% endblock titulo%}
	</head>
	<body>
		{% include "topo.html" %}
		{% block topo %}
		{% endblock topo%}

		{% block content %}
      	{% endblock content %}
	</body>
</html>