{% extends "base.html" %}
{% block titulo %}
	<title>LEDS | Integrantes</title>
{% endblock titulo %}

{% block content %}
	<div class="row">
		<center>
			<h2>Alguns Integrantes LEDS</h2>
			<div>
				<p>Fabiano Borges Ruy - Mestre em Informática - UFES</p>
				<p>Flávio Giraldeli Bianca - Mestre em Engenharia Elétrica - UFES</p>
				<p>Francisco José Casarin Rapchan - Mestre em Informática - UFES</p>
				<p>Maxwell Monteiro - Doutor em Engenharia Elétrica - UFES</p>
				<p>Mateus Conrad Barcellos da Costa - Doutor em Ciência da Computação - UFMG</p>
				<p>Paulo Sérgio dos Santos Júnior - Mestre em Engenharia de Software - UFES</p>
				<p>Rodrigo Calhau - Mestre em Engenharia de Software - UFES</p>
				<p>Vanessa Battestin Nunes - Doutora em Educação - UFES </p>
			</div>
		</center>
	</div>
{% endblock content %}