<nav class="top-bar" data-topbar>
	<ul class="title-area"> 
		<li class="name"> <h1><a href="/">LEDS</a></h1></li> 
	</ul> 
	<section class="top-bar-section">
		<ul class="left"> 
			<li><a href="/">Início</a></li>
			<li><a href="/integrantes/">Integrantes</a></li>
			<li class="divider"></li>
			<li><a href="#">Olá, boa tarde {{ nome }}</a></li>
		</ul> 
		<ul class="right">
			<li class="divider"></li>
			<li class="has-form"> <a href="http://www.python.org/" 
				class="button">Python</a> </li>
			<li class="divider"></li>
			<li class="has-form"> <a href="https://www.djangoproject.com/" 
				class="button">Django</a> </li>
		</ul>				
	</section> 
</nav>